#header {
    padding: 25px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 18px;
    font-weight: 400;
    color: white;
    padding: 0 25px;
}

.header button {
    font-size: 18px;
    font-weight: 400;
    color: white;
    background: #00B2FF;
    padding: 15px 44px;
    border-radius: 5px;
}

.header button:hover {
    background: red;
    transform: scale(1.1);
}

