#hero {
    padding: 22px 0;
}

.hero-general {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-group h1 {
    font-size: 48px;
    color: white;
    font-weight: 400;
    line-height: 57.6px;
}

.hero-group p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    width: 516px;
    line-height: 21.6px;
    padding: 17px 0 39px;
}

.hero-group button {
    font-size: 18px;
    font-weight: 700;
    color: white;
    background: #00B2FF;
    padding: 15px 44px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.hero-group button:hover {
    background: red;
    transform: scale(1.1);
}

.hero-icons a {
    color: white;
    font-size: 35px;
    padding-right: 30px;
}

.circles-group {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.circle-one {
    width: 13px;
    height: 13px;
    border: 1px solid white;
    border-radius: 100px;
}

.circle-two {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background: #00B2FF;
    margin: 0 28px;
}